<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"><ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="CambiarPassForm">
  <div class="container">
    <div class="error-overlay">
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
    <div class="succes-overlay">
      <div *ngIf="succesMessage" class="succes-message">
        {{ succesMessage }}
      </div>
    </div>

    <form (ngSubmit)="CambiarPass()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Contraseña actual</ion-label>
              <ion-input type="text" [(ngModel)]="CambiarPassForm.antigua" name="old" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nueva contraseña</ion-label>
              <ion-input type="text" [(ngModel)]="CambiarPassForm.nueva" name="new" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>


        <ion-row style="margin-top: 10%;">
          <ion-col>
            <ion-button type="submit" expand="full">Guardar Cambios</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>

