<ion-tabs>

  <ion-tab-bar slot="bottom" style="height: 8%;">

    <ion-tab-button tab="Home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <!-- <ion-label>Inicio</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="createviaje">
      <ion-icon aria-hidden="true" name="map-outline"></ion-icon>
      <!-- <ion-label>Crear Viaje</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="MisViajes">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <!-- <ion-label>Mis Viajes</ion-label> -->
    </ion-tab-button>


    <ion-tab-button tab="AjustesUsuario">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <!-- <ion-label>Ajustes</ion-label> -->
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>
